.nav
    &-container
        display: grid
        grid-template-columns: auto 1fr auto
        align-items: center
        padding-top: 10px
    &__menu
        &-list
            list-style-type: none
            display: grid
            justify-self: center
            align-items: center
            width: 30vw
            grid-template-columns: 1fr 1fr 1fr
            margin: 0 auto
        &-link
            display: block
            width: 100% 
            text-decoration: none
            font-size: 1.3rem
            text-transform: capitalize
            color: #fff
            text-align: center
            transition: 0.3s all 
            &:hover
                color: #87CEFA
